In [1]:
# Import dependencies
import pandas as pd
from pymongo import MongoClient

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# Assign the database to a variable name
db = mongo['babyNameDB']

# Reference the collection
baby_names_collection = db['babyNames']

# Step 1a: Empty the collection, as needed

In [3]:
# # Empty the collection
# result = baby_names_collection.delete_many({})
# print(f"Deleted {result.deleted_count} documents from the collection.")

Deleted 69214 documents from the collection.

# Step 1b: Create the collection

In [4]:
# Assign collection to a variable
baby_names_collection = db['babyNames']

In [5]:
# Read in baby names dataframe
baby_names_df = pd.read_csv('../Output/baby_names_cleaned.csv')
baby_names_df

       Year of Birth  Gender           Ethnicity First Name  Count  Rank
0               2011  FEMALE            HISPANIC  GERALDINE     13    75
1               2011  FEMALE            HISPANIC        GIA     21    67
2               2011  FEMALE            HISPANIC     GIANNA     49    42
3               2011  FEMALE            HISPANIC    GISELLE     38    51
4               2011  FEMALE            HISPANIC      GRACE     36    53
...              ...     ...                 ...        ...    ...   ...
21607           2021  FEMALE  BLACK NON HISPANIC      OUMOU     10    31
21608           2021  FEMALE  BLACK NON HISPANIC      PAIGE     10    31
21609           2021  FEMALE  BLACK NON HISPANIC       SKYE     10    31
21610           2021  FEMALE  BLACK NON HISPANIC     TAYLOR     10    31
21611           2021  FEMALE  BLACK NON HISPANIC       TORI     10    31

[21612 rows x 6 columns]

# Step 2: Load baby_names into Mongo DB Collection

In [6]:
# Convert DataFrame to a list of dictionaries
baby_names_dict = baby_names_df.to_dict('records')

In [7]:
# Insert baby names into Mongo DB collection
insert_result = baby_names_collection.insert_many(baby_names_dict)
print(f"Inserted {len(insert_result.inserted_ids)} documents into the babyNameDB collection.")

Inserted 21612 documents into the babyNameDB collection.